.cuerpoHome{
    background-image: url('../assets/gif/synthBackground.gif');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed; 
    background-position: center; 
    margin: 0; 
    height: 100vh;

}
.img-Dstu{
    margin-top: 20vh !important;
}

.divPrin{
    z-index: 0;
}

.titulo-Home-Eventos{
    margin-top: 30vh !important;
    margin-bottom: 20vh;
    color: white;
    font-family: 'LemonMilk';
}

.titulo-home-tiempo{
    font-family: 'LemonMilk'!important;
    font-size: 30px;
}

.home-temporizador{
    font-family: 'LemonMilk'!important;
    font-size: 30px;
}