@font-face {
    font-family: 'LemonMilk';
    src: url(/src/assets/fonts/LemonMilk/LEMONMILK-Regular.otf);
}


::-webkit-scrollbar{
    width: 15px;
}

::-webkit-scrollbar-track{
    background: #460381;
}

::-webkit-scrollbar-thumb{
    background: linear-gradient(#B106F1, #FF006C);

}